.divider {
    width: 100%;
    height: 720px;
}

#banner {
    background-color: #b3b3b3;
    height: 300px;
}

#photos {
    margin-left: auto;
    margin-right: auto;
    background-color: #b3b3b3;
    width: 90%;
}

#menu {
    background-color: #b3b3b3;
    text-align: center;
    align-content: center;
}

#contact {
    background-color: #b3b3b3;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#banner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height: 177px;
    width: 180px;
}

#content-box {
    position: fixed;
    margin-left: 0;
    top: 0;
    height: 50px;
    width: 150px;
    background-color: black;
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    background-color: red;
    height: 40px;
    width: 40px;
    margin: 5px;
}

#contact iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu table {
    margin: 0 auto;
}

#phonenumber {
    font-size: 20px;
}

#email {
    font-size: 20px;
}

th,
td {
    padding: 5px;
}

@font-face {
    font-family: 'Lucida Calligraphy';
    src: url('res/Lucida Calligraphy Italic.ttf');
}

body {
    margin: 0;
    font-family: 'Lucida Calligraphy';
    background-color: #b3b3b3;
}

img {
    height: 100%
}