.divider {
    width: 100%;
    height: 720px;
}

#banner {
    background-color: #b3b3b3;
    height: 300px;
}

#photos {
    margin-left: auto;
    margin-right: auto;
    background-color: #b3b3b3;
    width: 90%;
}

#menu {
    background-color: #b3b3b3;
    text-align: center;
}

#contact {
    background-color: #b3b3b3;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#banner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height: 177px;
    width: 180px;
}

#contact iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    margin: 0;
    font-family: 'Lucida Calligraphy';
    background-color: #b3b3b3;
}

img {
    height: 100%
}